@charset "utf-8";

/* top index */
    .browse_main_container {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10.5px;
        margin-bottom: 110.8px; 
    }

    .browse_main_container table {
        border: 5px solid #99D3DF;
        border-spacing: 0;
        border-radius: 10px;
        margin-left: 210px;
    }

    .browse_main_container table a {
        text-decoration: none;
        color: #707070;
    }

    .browse_main_container td  {
        border-bottom: 5px solid #99D3DF;
    }

    .browse_main_container tr:last-child>* {
        /* 最後の行　下線なし */
        border-bottom: 0px solid #99D3DF;
    }

    .browse_title {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        padding-left: 65px;
        font-size: 40px;
        width: 1200px;
    }

    .browse_name {
        font-size: 30px;
        padding-top: 38px;
        padding-bottom: 22px;
        padding-left: 50px;
        padding-right: 25px;
    }

/*  */
    /*==================================================
    スライダーのためのcss
    ===================================*/
    .slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
        margin:0 auto;
    }
    .slider img {
        width:100%;/*スライダー内の画像を横幅100%に*/
        height:auto;
    }
    /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
    .slider .slick-slide {
        margin:0 10px;
    }
    /*矢印の設定*/
    /*戻る、次へ矢印の位置*/
    .slick-prev,
    .slick-next {
        position: absolute;/*絶対配置にする*/
        top: 42%;
        cursor: pointer;/*マウスカーソルを指マークに*/
        outline: none;/*クリックをしたら出てくる枠線を消す*/
        border-top: 2px solid #666;/*矢印の色*/
        border-right: 2px solid #666;/*矢印の色*/
        height: 15px;
        width: 15px;
    }
    .slick-prev {/*戻る矢印の位置と形状*/
        left: -1.5%;
        transform: rotate(-135deg);
    }
    .slick-next {/*次へ矢印の位置と形状*/
        right: -1.5%;
        transform: rotate(45deg);
    }
    /*ドットナビゲーションの設定*/
    .slick-dots {
        text-align:center;
    margin:20px 0 0 0;
    }
    .slick-dots li {
        display:inline-block;
    margin:0 5px;
    }
    .slick-dots button {
        color: transparent;
        outline: none;
        width:8px;/*ドットボタンのサイズ*/
        height:8px;/*ドットボタンのサイズ*/
        display:block;
        border-radius:50%;
        background:#ccc;/*ドットボタンの色*/
    }
    .slick-dots .slick-active button{
        background:#333;/*ドットボタンの現在地表示の色*/
    }
    /*========= レイアウトのためのCSS ===============*/
    body{
    background:#eee;
    }
    h2,p {
        text-align:center;
        padding:20px;
    }
    ul{
    margin:0;
    padding: 0;
    list-style: none;
    }
    a{
    color: #333;
    }
    a:hover,
    a:active{
    text-decoration: none;
    }
    form{
    width:600px; /*お好みで調整してください*/
    margin:0 auto;
    }
    .inputs{
    overflow: hidden;
    margin-bottom: 50px;
    }
    .label{
    float: left;
    margin-right: 90px;
    width:135px;
    border-left: solid 3px blue;
    padding-left: 10px;
    }
    .input_form{
    float: left;
    width:600px;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea{
    border: solid 1px #E0E0E0;
    border-radius:5px;
    padding:8px;
    font-size: 15px;
    }
    textarea{
    height: 100px;
    }
    .btn-area{
    text-align: center;
    }
    input[type="submit"]{
    background: blue;
    border: none;
    color: #fff;
    font-size:15px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    }
    input[type="reset"]{
    background: #aaa;
    border: none;
    color: #fff;
    font-size:15px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    }