@charset "utf-8";

/* top index */
    .browse_main_container {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3.109%;
        margin-bottom: 5.781%; 
    }

    .browse_wrapper {
        padding-bottom: 3.609%;
        padding-left: 6.234%;
        padding-right: 6.234%;
    }

    .browse_main_container table {
        border: 2px solid #99D3DF;
        border-spacing: 0;
        border-radius: 10px;
        margin-left: 11.016%;
        margin-right: 11.016%;
    }

    .browse_main_container table a {
        text-decoration: none;
        color: #707070;
    }

    .browse_main_container td  {
        border-bottom: 2px solid #99D3DF;
    }

    .browse_main_container tr:last-child>* {
        /* 最後の行　下線なし */
        border-bottom: 0px solid #99D3DF;
    }

    .browse_title {
        padding-top: 1.055%;
        padding-bottom: 1.055%;
        padding-left: 2.969%;
        font-size: 23px;
        width: 679px;
    }

    .browse_name {
        font-size: 17px;
        padding-top: 1.719%;
        padding-bottom: 1.094%;
        padding-left: 2.266%;
        padding-right: 3.047%;
        width: 187px;
    }


/* select like */
    .select_like_main_container {
        margin-top: 0.531%;
        margin-bottom: 4.688%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .select_like_main_container h1 {
        font-weight: normal;
        font-size: 35px;
    }

    .select_like_main_container table {
        border: 2px solid #99D3DF;
        border-spacing: 0;
        border-radius: 10px;
        margin-top: 2.266%;
        margin-bottom: 7.469%;
        margin-left: 9.922%;
        margin-right: 9.922%;
    }

    .select_like_main_container table a {
        text-decoration: none;
        color: #707070;
    }

    .select_like_main_container td  {
        border-bottom: 2px solid #99D3DF;
    }

    .select_like_main_container tr:last-child>* {
        /* 最後の行　下線なし */
        border-bottom: 0px solid #99D3DF;
    }

    .select_like_title {
        padding-top: 1.055%;
        padding-bottom: 1.055%;
        padding-left: 2.969%;
        font-size: 23px;
        width: 93.75%;
    }

    .select_like_name {
        font-size: 17px;
        padding-top: 1.719%;
        padding-bottom: 1.094%;
        padding-left: 2.266%;
        padding-right: 3.047%;
        /* padding-right: 3.047%; */
    }

    .selet_like_buttom {
        text-align: center;
    }

    .selet_like_buttom a {
        text-decoration: none;
        font-size: 25px;
        color: #FAFCFD;
        background-color: #DFA499;
        padding: 0.781% 6.016% 0.781% 6.016%;
        border: 1px solid #707070;
        border-radius: 0.781%;
    }
    

/* レスポンシブ */
@media(max-width: 600px) {
    /* top index */
    .browse_main_container {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 1.95%;
        margin-bottom: 5.35%; 
    }

    .browse_wrapper {
        padding-bottom: 1.333%;
        padding-left: 3.833%;
        padding-right: 3.833%;
    }

    .browse_main_container table {
        margin-left: 0px;
        margin-right: 0px;
    }

    .browse_title {
        padding-top: 1.383%;
        padding-bottom: 1.383%;
        padding-left: 2.833%;
        font-size: 7px;
        /* width: 306.41px; */
    }

    .browse_name {
        font-size: 5px;
        padding-top: 1.333%;
        padding-bottom: 1.333%;
        padding-left: 2.05%;
        padding-right: 1.017%;
    }


    /* select like------------------------ */
    .select_like_main_container {
        margin-top: 1.95%;
        margin-bottom: 5.35%; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .select_like_main_container h1 {
        font-weight: normal;
        font-size: 13px;
    }

    .select_like_main_container table {
        margin-top: 0px;
        margin-bottom: 1.983%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .select_like_title {
        padding-top: 1.383%;
        padding-bottom: 1.383%;
        padding-left: 2.25%;
        font-size: 7px;
        width: 100%;
    }

    .select_like_name {
        font-size: 6px;
        padding-top: 1.333%;
        padding-bottom: 1.333%;
        padding-left: 2.05%;
        padding-right: 1.183%;
    }

    .selet_like_buttom a {
        font-size: 8px;
        padding: 0.197% 5.167% 0.197% 5.167%;
    }

}