@charset "utf-8";

/* management top */
    .mana_d_main_container {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
    }

    /* left container */
    .mana_d_left_container {
        text-align: center;
        margin-right: 1.5163vw;
    }

    .mana_d_circle {
        width: 15.885vw;
        height: 15.885vw;
        border-radius: 50%;
        background-color: #DFA499;
        text-align: center;

        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        margin-bottom: 1.719vw;
    }

    .mana_d_circle a {
        text-decoration: none;
        font-size: 3.125rem;
        color: #FAFCFD;
    }

    .mana_d_left_container img {
        width: 15.885vw;
        height: 39.010vw;
        object-fit: cover;
    }

    .mana_d_left_container p {
        font-size: 3.125rem;
        margin-top: 0;
        margin-bottom: 2.96vw;
    }

    /* right container */
    .mana_d_right_container {
        padding-left: 1.563svw;
    }

    .mana_d_right_container h1 {
        font-weight: normal;
        font-size: 3.125rem;
        padding-top: 2.432vw;
        padding-bottom: 0.729vw;
    }

    .mana_d_right_container table {
        border: 5px solid #99D3DF;
        border-spacing: 0;
        border-radius: 10px;
    }

    .mana_d_right_container table a {
        text-decoration: none;
        color: #707070;
    }

    .mana_d_right_container td  {
        border-bottom: 5px solid #99D3DF;
    }

    .mana_d_right_container tr:last-child>* {
        /* 最後の行　下線なし */
        border-bottom: 0px solid #99D3DF;
    }

    .mana_d_title {
        padding-top: 1.172vw;
        padding-bottom: 1.172vw;
        padding-left: 3.385vw;
        font-size: 2.5rem;
        width: 36.458vw;
    }

    .mana_d_buttom {
        font-size: 1.875rem;
        padding: 0.651vw 2.604vw 0.651vw 2.604vw;
    }

    .mana_d_update {
        border: 3px solid #DFA499;
        border-radius: 10px;
        margin-right: 1.458vw
    }

    .mana_d_delete {
        border: 3px solid #99D3DF;
        border-radius: 10px;
        margin-right: 1.198vw;
    }

/* update */
    .update_main_container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .update_main_container h1 {
        font-weight: normal;
        font-size: 5rem;
        padding-top: 0.938vw;
        padding-bottom: 2.396vw;
    }

    .update_main_container form {
        text-align: center;
        text-decoration: none;
        font-size: 2.5rem;
        margin-bottom: 5.156vw;
        padding-left: 3.49vw;
    }

    .update_main_container table {
        padding-left: 3.49vw;
    }

    .update_main_container form table tr th {
        font-weight: normal;
        padding-right: 3.958vw;
        /* padding-top: 10px; */
    }

    .update_main_container form table tr td .update_text,.update_textarea {
        margin-bottom: 2.396vw;
    }

    .update_text {
        width: 65.573vw;
        height: 4.688;
        border: 1px solid #707070;
        border-radius: 10px;
        padding-left: 2%;
    }

    .update_upper {
        vertical-align: top;
        margin-bottom: 2.398vw;
        padding-top: 0.99vw;
    }

    .update_textarea {
        resize: none;
        width: 65.573vw;
        height: 36.406vw;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    .update_release {
        text-align: left;
        padding-left: 2.083vw;
    }

    .update_radio {
        width: 1.563vw;
        height: 1.563vw;
        margin-right: 1.563vw;
    }

    .update_release label {
        margin-right: 3.125vw;
    }

    input[type="submit"] {
        color: #FAFCFD;
        background-color: #DFA499;
        border: 1px solid #707070;
        border-radius: 10px;
        padding: 0.521vw 3.958vw 0.521vw 3.958vw;
        margin-top: 5.156vw;
    }

/* update success */ 
    .update_success_main_container {
        padding-top: 1.094vw;
        padding-bottom: 2.604vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    .update_success_main_container h1 {
        font-weight: normal;
        font-size: 5rem;
        padding-left: 5.729vw;
    }

    .update_success_center {
        text-align: center;
        padding-bottom: 7.969vw;
    }

    .update_success_center p {
        font-size: 3.75rem;
        padding-bottom: 5.208vw;
    }

    .update_success_center a {
        text-decoration: none;
        font-size: 2.5rem;
        color: #FAFCFD;
        background-color: #DFA499;
        padding: 0.521vw 5.729vw 0.521vw 5.729vw;
        border: 1px solid #707070;
        border-radius: 10px;
    }

/* delete */
    .delete_main_container {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1.094vw;
    }

    .delete_main_container h1 {
        font-weight: normal;
        font-size: 5rem;
        padding-left: 5.729vw;
    }

    .delete_center {
        text-align: center;
        padding-top: 2.604vw;
        padding-bottom: 7.448vw;
    }

    .delete_center p {
        font-size: 3.75rem;
        padding-bottom: 5.729vw;
    }

    .delete_yes_buttom, .delete_no_buttom {
        text-decoration: none;
        font-size: 2.5rem;
        padding: 0.521vw 4.193vw 0.521vw 4.193vw;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    .delete_yes_buttom {
        color: #FAFCFD;
        background-color: #DFA499;
        margin-right: 1.406vw;
    }

    .delete_no_buttom {
        background-color: #FAFCFD;
        margin-left: 1.406vw;
    }
    
/* delete success */
    .delete_success_main_container {
        padding-top: 1.094vw;
        padding-bottom: 2.604vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    .delete_success_main_container h1 {
        font-weight: normal;
        font-size: 5rem;
        padding-left: 5.729vw;
    }

    .delete_success_center {
        text-align: center;
        padding-bottom: 7.969vw;
    }

    .delete_success_center p {
        font-size: 3.75rem;
        padding-bottom: 5.208vw;
    }

    .delete_success_center a {
        text-decoration: none;
        font-size: 2.5rem;
        color: #FAFCFD;
        background-color: #DFA499;
        padding: 0.521vw 5.729vw 0.521vw 5.729vw;
        border: 1px solid #707070;
        border-radius: 10px;
    }


