@charset "utf-8";

/* management top */
    .mana_d_main_container {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
    }

    /* left container */
    .mana_d_left_container {
        text-align: center;
        margin-right: 30px;
    }

    .mana_d_circle {
        width: 305px;
        height: 305px;
        border-radius: 50%;
        background-color: #DFA499;
        text-align: center;

        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        margin-bottom: 33px;
    }

    .mana_d_circle a {
        text-decoration: none;
        font-size: 50px;
        color: #FAFCFD;
    }

    .mana_d_left_container img {
        width: 550px;
        height: 749px;
        object-fit: cover;
    }

    .mana_d_left_container p {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 57px;
    }

    /* right container */
    .mana_d_right_container {
        padding-left: 30px;
    }

    .mana_d_right_container h1 {
        font-weight: normal;
        font-size: 50px;
        padding-top: 46.7px;
        padding-bottom: 14px;
    }

    .mana_d_right_container table {
        border: 5px solid #99D3DF;
        border-spacing: 0;
        border-radius: 10px;
    }

    .mana_d_right_container table a {
        text-decoration: none;
        color: #707070;
    }

    .mana_d_right_container td  {
        border-bottom: 5px solid #99D3DF;
    }

    .mana_d_right_container tr:last-child>* {
        /* 最後の行　下線なし */
        border-bottom: 0px solid #99D3DF;
    }

    .mana_d_title {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        padding-left: 65px;
        font-size: 40px;
        width: 700px;
    }

    .mana_d_buttom {
        font-size: 30px;
        padding: 12.5px 50px 12.5px 50px;
    }

    .mana_d_update {
        border: 3px solid #DFA499;
        border-radius: 10px;
        margin-right: 28px;
    }

    .mana_d_delete {
        border: 3px solid #99D3DF;
        border-radius: 10px;
        margin-right: 23px;
    }
/* post */
.post_main_container {
    padding-left: 5%;
    padding-right: 5%;
}

.post_main_container h1 {
    font-weight: normal;
    font-size: 80px;
    padding-top: 18px;
    padding-bottom: 46px;
}

.post_main_container form{
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin-bottom: 99px;
    padding-left: 67px;
}

.post_main_container table {
    padding-left: 67px;
}

.post_main_container form table tr th {
    font-weight: normal;
    padding-right: 76px;
    /* padding-top: 10px; */
}

.post_main_container form table tr td .post_text,.post_textarea {
    margin-bottom: 46px;
}

.post_text {
    width: 1259px;
    height: 90px;
    border: 1px solid #707070;
    border-radius: 10px;
    padding-left: 2%;
}

.post_upper {
    font-size: 40px;
    vertical-align: top;
    margin-bottom: 46px;
    padding-top: 19px;
}

.post_textarea {
    resize: none;
    width: 1259px;
    height: 699px;
    border: 1px solid #707070;
    border-radius: 10px;
}

.post_release {
    text-align: left;
    padding-left: 40px;
}

.post_radio {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.post_release label {
    font-size: 40px;
    margin-right: 60px;
}

input[type="submit"] {
    color: #FAFCFD;
    background-color: #DFA499;
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 10px 76px 10px 76px;
    margin-top: 99px;
}
/* post success */
.post_success_main_container {
    padding-top: 21px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.post_success_main_container h1 {
    font-weight: normal;
    font-size: 80px;
    padding-left: 110px;
}

.post_success_center {
    text-align: center;
    padding-bottom: 153px;
}

.post_success_center p {
    font-size: 60px;
    padding-bottom: 100px;
}

.post_success_center a {
    text-decoration: none;
    font-size: 40px;
    color: #FAFCFD;
    background-color: #DFA499;
    padding: 10px 110px 10px 110px;
    border: 1px solid #707070;
    border-radius: 10px;
}
/* update */
    .update_main_container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .update_main_container h1 {
        font-weight: normal;
        font-size: 80px;
        padding-top: 18px;
        padding-bottom: 46px;
    }

    .update_error {
        color: #df5c45;
    }

    .update_main_container form {
        text-align: center;
        text-decoration: none;
        font-size: 40px;
        margin-bottom: 99px;
        padding-left: 67px;
    }

    .update_main_container table {
        padding-left: 67px;
    }

    .update_main_container form table tr th {
        font-weight: normal;
        padding-right: 76px;
        /* padding-top: 10px; */
    }

    .update_main_container form table tr td .update_text,.update_textarea {
        margin-bottom: 46px;
    }

    .update_text {
        width: 1259px;
        height: 90px;
        border: 1px solid #707070;
        border-radius: 10px;
        padding-left: 2%;
    }

    .update_upper {
        vertical-align: top;
        margin-bottom: 46px;
        padding-top: 19px;
    }

    .update_textarea {
        resize: none;
        width: 1259px;
        height: 699px;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    .update_release {
        text-align: left;
        padding-left: 40px;
    }

    .update_radio {
        width: 30px;
        height: 30px;
        margin-right: 30px;
    }

    .update_release label {
        margin-right: 60px;
    }

    input[type="submit"] {
        color: #FAFCFD;
        background-color: #DFA499;
        border: 1px solid #707070;
        border-radius: 10px;
        padding: 10px 76px 10px 76px;
        margin-top: 99px;
    }
/* update success */ 
    .update_success_main_container {
        padding-top: 21px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .update_success_main_container h1 {
        font-weight: normal;
        font-size: 80px;
        padding-left: 110px;
    }

    .update_success_center {
        text-align: center;
        padding-bottom: 153px;
    }

    .update_success_center p {
        font-size: 60px;
        padding-bottom: 100px;
    }

    .update_success_center a {
        text-decoration: none;
        font-size: 40px;
        color: #FAFCFD;
        background-color: #DFA499;
        padding: 10px 110px 10px 110px;
        border: 1px solid #707070;
        border-radius: 10px;
    }

/* delete */
    .delete_main_container {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 21px;
    }

    .delete_main_container h1 {
        font-weight: normal;
        font-size: 80px;
        padding-left: 110px;
    }

    .delete_center {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 143px;
    }

    .delete_center p {
        font-size: 60px;
        padding-bottom: 110px;
    }

    .delete_yes_buttom, .delete_no_buttom {
        text-decoration: none;
        font-size: 40px;
        padding: 10px 80.5px 10px 80.5px;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    .delete_yes_buttom {
        color: #FAFCFD;
        background-color: #DFA499;
        margin-right: 27px;
    }

    .delete_no_buttom {
        background-color: #FAFCFD;
        margin-left: 27px;
    }
    
/* delete success */
    .delete_success_main_container {
        padding-top: 21px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .delete_success_main_container h1 {
        font-weight: normal;
        font-size: 80px;
        padding-left: 110px;
    }

    .delete_success_center {
        text-align: center;
        padding-bottom: 153px;
    }

    .delete_success_center p {
        font-size: 60px;
        padding-bottom: 100px;
    }

    .delete_success_center a {
        text-decoration: none;
        font-size: 40px;
        color: #FAFCFD;
        background-color: #DFA499;
        padding: 10px 110px 10px 110px;
        border: 1px solid #707070;
        border-radius: 10px;
    }


