@charset "utf-8";
    html {
        font-size: 100%;
    }

    body {
        background-color: #FAFCFD;
        font-family:'メイリオ', 'Meiryo', sans-serif;
        color: #707070;
    }

/* header1 */
    .header1 {
        position: relative;
        width: 100%;
        height: 161px;
        background: #99D3DF;
    }

    .header1_svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 69px;
        fill: #FAFCFD;
    }

    .header1_container {
        display: flex;
        width: 100%;
    }

    .header1_container img {
        /* width: 188px; */
        height: 100px;
        object-fit: cover;
        /* padding-top: 10px;
        padding-left: 16px; */
    }

    .header1_container form {
        margin-top: 54px;
        padding-left: 472px;
        display: flex;
    }

    .header1_container input[type=text] {
        background-color: #FAFCFD;
        border: 1px solid #707070;
        border-radius: 10px;
        width: 310px;
        height: 47px;
        font-size: 20px;
        padding: 8.5px 13px 8.5px 13px;
    }

    .header1_submit {
        padding-top: 1px;
        padding-left: 7px;
        padding-right: 35.5px;
    }

    .header1_container input[type=submit]{
        padding: 5.5px 14px 5.5px 14px;
        background-color: #DFA499;
        color: #FAFCFD;
        font-size: 20px;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    .header1_buttom_login {
        text-decoration: none;
        margin-top: 36px;
        /* margin-left: 1439px; */
        /* height: 123px;
        width: 270px; */
        background-color: #FAFCFD;
        color: #DFA499;
        font-size: 32px;
        padding: 19px 21.5px 15px 21.5px;
        border: 1px solid #707070;
        border-radius: 16px;
        text-decoration: none;
    }

    .header1_buttom_logout {
        text-decoration: none;
        margin-top: 36px;
        /* margin-left: 1439px; */
        /* height: 123px;
        width: 270px; */
        background-color: #FAFCFD;
        color: #DFA499;
        font-size: 32px;
        padding: 17px 5.5px 17px 5.5px;
        border: 1px solid #707070;
        border-radius: 16px;
        text-decoration: none;
    }


/* footer */
    .footer1 {
        position: relative;
        width: 100%;
        height: 269px;
        background-color: #99D3DF;
    }

    .footer1 polygon {
        fill: #FAFCFD;
    }

    .footer1_container {
        width: 100%;
    }

    .footer1_container a {
        color: #FAFCFD;
        text-decoration: none;
    }

    .footer1_title {
        font-size: 35px;
        padding-top: 52.2px;
        margin-left: 54.1px;
    }

    .footer1_container li {
        list-style: none;
        font-size: 20px;
        padding-bottom: 10px;
        padding-left: 84.1px;
    }

    .footer1_c {
        color: #DFA499;
        font-size: 25px;
        text-align: center;
        padding-top: 32.5px;
        background-color: #99D3DF;
    }

/* --login--------------------------------- */
/* header */
    .header2 {
        background-color: #99D3DF;
        height: 93px;
    }

    .header2 img {
        width: 188px;
        height: 100px;
        object-fit: cover;
        /* padding-top: 29.8px;
        padding-left: 16px; */
    }

/* footer */
    .footer2 {
        background-color: #99D3DF;
        height: 133px;
    }

    .footer2_c {
        color: #DFA499;
        font-size: 25px;
        text-align: center;
        padding-top: 93.8px;
        padding-bottom: 15.2px;

        background-color: #99D3DF;
    }


/* レスポンシブ */
@media(max-width: 600px) {
    /* header1 */
    .header1 {
        height: 56px;
    }

    .header1_svg {
        height: 15px;
    }

    .header1_container img {
        height: 45px;
    }

    .header1_container form {
        margin-top: 12.5px;
        padding-left: 15.4px;
    }

    .header1_container input[type=text] {
        width: 146.89px;
        height: 22.03px;
        font-size: 9px;
        padding: 4px 6px 4px 6px;
        margin-top: 2px;
    }

    .header1_submit {
        padding-top: 0px;
        padding-left: 3.3px;
        padding-right: 25.8px;
    }

    .header1_container input[type=submit]{
        padding: 2.7px 7.7px 2.7px 7.7px;
        font-size: 9px;
    }

    .header1_buttom_login {
        margin-top: 6px;
        font-size: 12px;
        padding: 8.5px 13.1px 8.5px 13.1px;
        height: 35.05px;
    }

    .header1_buttom_logout {
        margin-top: 6px;
        font-size: 12px;
        padding: 8.5px 7.1px 8.5px 7.1px;
        height: 35.05px; 
    }


/* footer */
    .footer1 {
        height: 93px;
    }

    .footer1_title {
        font-size: 13px;
        /* padding-top: 14.9px; */
        margin-left: 24px;
    }

    .footer1_container li {
        font-size: 10px;
        padding-left: 36px;
    }

    .footer1_c {
        font-size: 11px;
        padding-top: 26px;
        /* text-align: center; */
    }

}