@charset "utf-8";
    html {
        font-size: 100%;
    }

    body {
        background-color: #FAFCFD;
        font-family:'メイリオ', 'Meiryo', sans-serif;
        color: #707070;
    }

/* header1 */
    .header1 {
        position: relative;
        width: 100%;
        height: 203px;
        background: #99D3DF;
    }

    .header1_svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 69px;
        fill: #FAFCFD;
    }

    .header1_container {
        display: flex;
        width: 100%;
    }

    .header1_container img {
        width: 188px;
        height: 100px;
        object-fit: cover;
        padding-top: 30px;
        padding-left: 16px;
    }

    .header1_buttom {
        text-decoration: none;
        margin-top: 34.3px;
        margin-left: 1439px;
        height: 123px;
        width: 270px;
        background-color: #FAFCFD;
        color: #DFA499;
        font-size: 50px;
        padding: 20px 4px 20px 4px;
        border: 1px solid #707070;
        border-radius: 16px;
    }

/* footer */
    .footer1 {
        position: relative;
        width: 100%;
        height: 519px;
        background-color: #99D3DF;
    }

    .footer1 polygon {
        fill: #FAFCFD;
    }

    .footer1_container {
        width: 100%;
    }

    .footer1_container a {
        color: #FAFCFD;
        text-decoration: none;
    }

    .footer1_title {
        font-size: 50px;
        padding-top: 2.2px;
        padding-left: 110px;
    }

    .footer1_container li {
        list-style: none;
        font-size: 25px;
        padding-bottom: 10px;
        padding-left: 160px;
    }

    .footer1_c {
        color: #DFA499;
        font-size: 25px;
        text-align: center;
        padding-top: 211.7px;
        background-color: #99D3DF;
    }

